.container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
}

input, button {
    padding: 10px;
    margin-bottom: 10px;
}

button {
    cursor: pointer;
}

#resultado {
    font-size: 18px;
    font-weight: bold;
}
